{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious Recipies</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
  </head>

  <body>
    <header>
      <nav>
        <a href='{% url "recipe_list" %}'>Main page</a>
      </nav>
    </header>
    <main>
      <div class="main_content_container">
        <h1>Scrumptious Recipies</h1>
        <h2>All the food that's fit to eat</h2>
        <section class="recipe_items_container">
          <!-- put each recipe item in a container in order to use flexbox to center it in the column...-->
         {% for recipe in recipe_list %}
          <div class="recipe_item_container">
            <!-- because all items in the recipe_item need to be flex start (left aligned) -->
            <div class="recipe_item">
              <h3>
                <a href="{{recipe.id}}">{{recipe.title}}</a>
              </h3>
              <img src="{{recipe.picture}}" />
              <p>4.3 stars</p>
            </div>
          </div>
          {% endfor%}
          {% comment %} <div class="recipe_item_container">
            <div class="recipe_item">
              <h3>
                <a href="detail.html">Vegetarian Tacos</a>
              </h3>
              <img src="https://mks.io/public-tacos" />
              <p>4.3 stars</p>
            </div>
          </div>
          <div class="recipe_item_container">
            <div class="recipe_item">
              <h3>
                <a href="detail.html">Vegetarian Tacos</a>
              </h3>
              <img src="https://mks.io/public-tacos" />
              <p>4.3 stars</p>
            </div>
          </div>
          <div class="recipe_item_container">
            <div class="recipe_item">
              <h3>
                <a href="detail.html">Vegetarian Tacos</a>
              </h3>
              <img src="https://mks.io/public-tacos" />
              <p>4.3 stars</p>
            </div>
          </div>
          <div class="recipe_item_container">
            <div class="recipe_item">
              <h3>
                <a href="detail.html">Vegetarian Tacos</a>
              </h3>
              <img src="https://mks.io/public-tacos" />
              <p>4.3 stars</p>
            </div>
          </div> {% endcomment %}
        </section>
      </div>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
  </body>
</html>
