@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-family: "Oswald", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  padding: 16px;
  background-color: #a9a4f4;
  a {
    color: white;
    padding: 5px;
  }
  a:hover {
    background-color: #f7f713;
    color: #a9a4f4;
  }
}

main {
  /* margin-bottom: 24px; */
  padding: 16px;
}

.main_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
  }

  h2 {
    margin-top: 8px;
    font-weight: 300;
  }
}

h1,
h2 {
  color: #746bf4;
}

.recipe_items_container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1020px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjusts grid to wrap if columns don't fit, maintaining a minimum width of 200px */
  }
}
.recipe_item_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  a {
    color: #f26c13;
    font-weight: 200;
  }

  a:hover {
    color: #746bf4;
  }

  h3 {
    text-align: left;
  }
}

img {
  height: 200px;
  width: auto;
}

footer {
  padding: 24px 16px;
  background-color: #f7f713;
  color: #746bf4;
  font-family: "Courier New", Courier, monospace;
  /* position: sticky;
  bottom: 0; */
}

a {
  text-decoration: none;
}

/* detail page sytles */

table {
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: #f7f713;
}

table th {
  font-weight: 400;
  text-decoration: underline;
}

th,
td {
  width: 150px;
  text-align: left;
}

ol {
  padding-left: 20px;
}
